<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.11" targetFramework="net461" />
  <package id="Costura.Fody" version="3.2.0" targetFramework="net461" developmentDependency="true" />
  <package id="Fody" version="3.3.3" targetFramework="net461" developmentDependency="true" />
  <package id="Google.Apis" version="1.44.1" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.44.1" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.44.1" targetFramework="net461" />
  <package id="Google.Apis.YouTube.v3" version="1.44.1.1869" targetFramework="net461" />
  <package id="LtGt" version="1.0.2" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="PocketSharp" version="5.0.0" targetFramework="net461" />
  <package id="Sprache" version="2.2.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="YoutubeExplode" version="4.7.16" targetFramework="net461" />
</packages>