<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.14.0" targetFramework="net461" />
  <package id="Costura.Fody" version="3.2.0" targetFramework="net461" developmentDependency="true" />
  <package id="Fody" version="3.3.3" targetFramework="net461" developmentDependency="true" />
  <package id="Google.Apis" version="1.54.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.54.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.54.0" targetFramework="net461" />
  <package id="Google.Apis.YouTube.v3" version="1.54.0.2378" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="PocketSharp" version="5.0.0" targetFramework="net461" />
  <package id="Sprache" version="2.2.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.7.2" targetFramework="net461" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="YoutubeExplode" version="6.0.5" targetFramework="net461" />
</packages>